#brand-image
{
	height: 35px;
}

.jumbotron
{
background-image:url('../img/tlo.png');
}

.navbar-brand-name > {

  display: inline-block;
  float: left;

}

#bt { display:none; }

.navbar-brand-name > img {
  display: inline-block;
  float: left;
  padding: 0 15px 0 0;
}

#container {
    background: #ccc;
    display: table
}
#left, #right {
    display: table-cell
}
#left {
    width: 150px;
    background: #f0f;
    border: 5px dotted blue;
}
#right {
    background: #aaa;
    border: 3px solid #000
}